@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root{
    --bluepurple-color:#8A2BE2;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container .navbar a h2{
    /* color: var(--bluepurple-color); */
    color: #231557;
    opacity: 1;
}

.lines1,.lines2,.lines3{
    width: 17px;
    height: 2px;
    margin: 3px;
}

.crossxs .lines1{
    transform: rotate(-45deg) translate(-3px,4px);
}

.crossxs .lines2{
    opacity: 0;
}

.crossxs .lines3{
    transform: rotate(45deg) translate(-3px,-4px);
}

.container .collapse ul li a:hover{
    color: var(--bluepurple-color);
}

.container .collapse ul li a button{
    border-color: var(--bluepurple-color);
    color: var(--bluepurple-color);
}

.container .collapse ul li a button:hover{
    background-color: var(--bluepurple-color);
    color: #fff;
}

.resume button{
    width: 80px;
    color: var(--bluepurple-color);
    border-color: var(--bluepurple-color);
    border-radius: 25px;
}

.resume button:hover{
    width: 80px;
    background-color: var(--bluepurple-color);
    color: #fff;
    border-radius: 25px;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
    font-size: 50px;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  } 

.body-section1{
    margin-top: 50px;
}

.body-section1 .text-center img{
    position: inherit;
    top: 0;
    bottom: 0;

    position: relative;
    /* z-index: 2; */
} 

svg{
    position: absolute;
    left: 0;
    bottom: 0;
    /* z-index: 1; */
}

/* Section 2 */
/* .section2{
    margin-top: 150px;
    position: relative;
}

.section2 .dsk-image{
    position: absolute;
    top: 0;
    left: 40%;
}

.section2 .about-body{
    width: 100%;
    height: 500px;
    background-color: var(--bluepurple-color);
    color: #fff;

    position: inherit;
}

.section2 .about-text{
    width: 50%;
    display: inline-block;
    justify-content: center;
    text-align: center;

    position: absolute;
    top: 40%;
    left: 25%;
} */

/* Section 2  */

/* For Tablet View */
@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) {
    .svg {
        display: none;
    }
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) 
    and (orientation: portrait) {
    .svg{
        display: none;
    }
}